@font-face {
    font-family: Anton-Regular;
    src: url(../fonts/Anton-Regular.ttf);
}

h1 {
    font-family: Anton-Regular;
}

* {
    font-family: 'Roboto', sans-serif;
}

;
/* body */

body {
    margin: 0;
}

#container {
    background-image: linear-gradient(183deg, rgba(192, 170, 113, .16), rgba(243, 224, 171, .0384));
    height: 1500px;
}

/* topbar */
.topbar {
    /* background-color: #010203; */
    height: 80px;
    width: 100%;
    border: 2px solid;
    padding-top: 30px;
    position: fixed;
    /* position: sticky; */
}

.main {
    height: 280px;
    background-color: #010203;
    background: linear-gradient(270deg, #666, #000);
}

.logo {
    margin-top: -10px;
    margin-left: 125px;
    float: left;
}

.menu {
    color: white;
    margin-left: 300px;
    font-size: 15px;
    font-family: 'Roboto';
}

.community {
    margin-right: 15px;
}

.project {
    margin-right: 15px;
}

.offers {
    margin-right: 15px;
}

.tours {
    margin-right: 15px;
}

.why {
    margin-right: 15px;
    padding-right: 30px;
}

/* .email {

 }
 .golden{
 } */
.button {
    height: 30px;
    margin-left: 20px;
    padding: 7px 55px 20px 0px;
    color: rgb(185, 182, 182);
}

.english {
    margin-left: 10px;
}

.fa {
    background-color: aqua;
    text-align: right;
}

/* .search{
    margin-left: -5px;
 } */
.h1-header {
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-left: 125px;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 900;
    line-height: 44px;
}

.h2-header {
    color: white;
    margin-left: 125px;
    line-height: 55px;
    letter-spacing: 0.4px;
    margin-top: -30px;
    font-size: 30px;
    font-weight: 600;
}

.name {
    background-image: linear-gradient(143deg, #c0aa71, #f3e0ab);
    height: 220px;
    width: 1160px;
    margin: -35px 80px;
}

.property {
    height: 35px;
    width: 280px;
    margin-top: 40px;
    padding: 10px 20 5px 10px;
    font-size: 13px;
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(207, 186, 130, .49);
    font-weight: 400;
    border-radius: 2px;
    margin-left: 30px;
}

.country {
    height: 35px;
    width: 280px;
    margin-top: 40px;
    padding: 10px 20 5px 10px;
    font-size: 13px;
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(207, 186, 130, .49);
    font-weight: 400;
    border-radius: 2px;
    margin-left: 15px;

}

.city {
    height: 35px;
    width: 280px;
    margin-top: 40px;
    padding: 10px 20 5px 10px;
    font-size: 13px;
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(207, 186, 130, .49);
    font-weight: 400;
    border-radius: 2px;
    margin-left: 15px;
}

.button1 {
    height: 40px;
    width: 130px;
    border: 1px solid gray;
    margin: 40px 40px;
    padding-right: 55px;
    position: relative;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.button-arrow {
    margin-left: 20px;
    margin-top: 4px;
    position: absolute;
    width: 30px;
}

.locality {
    height: 35px;
    width: 280px;
    float: left;
    margin-top: -20px;
    margin-left: 30px;
    font-size: 13px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 400;
    padding: 10px 20 5px 10px;
    background-color: rgba(207, 186, 130, .49);
}

.beds {
    height: 35px;
    width: 280px;
    float: left;
    margin-top: -20px;
    margin-left: 20px;
    font-size: 13px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 400;
    padding: 10px 20 5px 10px;
    background-color: rgba(207, 186, 130, .49);
}

.slider {
    margin-top: -15px;
}

.range-slider {
    -webki-appearance: none;
    appearance: none;
    width: 13%;
    height: 6px;
    outline: none;
    margin-left: 5px;
    margin-top: -10px;
    border-radius: 50px;
}

.range-slider::-webkit-slider-thumb {
    -webki-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #fff;
}

.price {
    /* float: left; */
    margin: -13px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}

.aed {
    text-decoration: none;
    font-weight: 200;
    display: inline-block;
}

.text {
    display: inline-block;
    margin-left: 130px;
}

.lebel-right {
    float: left;
    margin-left: 95px;
}


level {
    color: #fff;

}

.lebel-right {
    text-align: center;
}

.more-options {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 30px;
}



/* footer */


.line-image {
    vertical-align: top;
    /* margin: auto; */
}

.load-more {
    display: inline;
    /* vertical-align: auto; */
}

.pink-box {
    height: 80px;
    width: 100%;
    color: #4a4a4a;
    background-color: rgb(252, 245, 243);
    border: 1px solid rgb(252, 245, 243);
    padding: 10px;
    box-sizing: border-box;
    padding-left: 90px;
    margin-top: 20px;
}

.footer {
    height: 430px;
    width: 100%;
    background-color: #333;
    background-image: linear-gradient(199deg, #666, #171615);
    color: #fff;
    text-decoration: none;
}

.col {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding-top: 50px;
}

#footer-menu {
    padding-left: 125px;

}

#footer-menu li {
    padding-bottom: 16px;
    list-style-type: none;
}

#footer-menu1 li {
    padding-bottom: 16px;
    list-style-type: none;
    /* padding-right: 100px; */


}

#footer-menu2 {
    font-size: 35px;
    color: #cfba82;
    padding-right: 100px;
    font-family: Roboto, Arial, "sans-serif";
    font-weight: 700px;
    line-height: 44px;
}

.footer-input-email {
    height: 53px;
    width: 302px;
    border: 1px solid wheat;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 20px;
    display: flex;
    font-family: 'Roboto';
    margin-top: 20px;
}

.email-logo {
    height: 25px;
    width: 25px;
    padding-left: 200px;
    padding-top: -20px;
    font-family: 'Roboto';
}


/* main */

.main1 {
    height: 2100px;
    /* background-color: red; */
    background: linear-gradient(145deg, #ebf4f5, rgb(239, 239, 211));
}


#All-properties {
    font-size: 35px;
    font-family: Roboto, Arial, "sans-serif";
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 75px;
    display: inline-block;
}


.sort1 {
    height: 40px;
    width: 230px;
    border: 2px solid black;
    font-size: 15px;
    font-family: Roboto, Arial, "sans-serif";
    margin-left: 800px;
    display: inline-block;
    /* margin-left: -10px; */
}

/*(1) House images */

.House-PHoto {
    width: 533px;
    height: 350px;
    object-fit: cover;
    /* object-position: top; */
    /* border: 1px; */
    /* border-style: solid; */
    /* border-color: rgb(235, 230, 230); */
}



/* photos all house */

#House50 {
    width: 40%;
    height: 700px;
    /* border: 2px solid #fff; */
    margin-left: 100px;
    float: left;
    background-color: #fff;
    box-shadow: 0px 0px 25px 1px rgb(177, 174, 174);
}

#House51 {
    width: 40%;
    height: 700px;
    margin-left: 25px;
    float: left;
    background-color: #fff;
    box-shadow: 0px 0px 25px 1px rgb(177, 174, 174);
}

#House52 {
    width: 40%;
    height: 700px;
    /* border: 2px solid #fff; */
    margin-left: 100px;
    margin-top: 25px;
    float: left;
    background-color: #fff;
    box-shadow: 0px 0px 25px 1px rgb(177, 174, 174);
}

#House53 {
    width: 40%;
    height: 700px;
    margin-left: 25px;
    margin-top: 25px;
    float: left;
    background-color: #fff;
    box-shadow: 0px 0px 25px 1px rgb(177, 174, 174);
}






.House1 {
    width: 40%;
    height: 305px;
    border: 2px solid #fff;
    margin-top: -650px;
    margin-left: 50px;
    /* margin-left: 125px; */
}



.House-text {
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    font-family: Roboto, Arial, "sans-serif";
}

.House-text1 {
    color: #bababa;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20;
    display: inline;
    margin-left: 15px;
}

.residantil {
    display: inline;
    font-weight: 500;
    margin-left: 15px;
}

.Business {
    margin-left: 15px;
    color: #bababa;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

#line {
    border-right: 2px solid #bababa;
    display: inline;
    margin: 20px 6px 100px 6px;
}

.Apartment {
    color: #bababa;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.villa {
    color: #bababa;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

#line1,
#line2 {
    height: 50px;
    border-right: 2px solid rgb(70, 68, 68);
    display: inline;
    margin: 20px 6px 100px 6px;
}

.bedroom-logo {
    display: inline;
}

.Bedrooms {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
}

.numbers {
    display: inline;
    vertical-align: top;
}

.line3 {
    width: 500px;
    border-bottom: 1px solid #c0aa71;
    ;
    margin: auto;
}

.line3 {
    margin-top: 10px;
}

.call-us {
    height: 45px;
    width: 240px;
    background-color: #c0aa71;
    margin: 20px 15px;
    float: left;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    color: #fff;
    font-family: Roboto, Arial, "sans-serif";
    font-weight: 500;
    background: linear-gradient(145deg, #c0aa71, rgb(239, 239, 211));

}

.enquire {
    height: 45px;
    width: 240px;
    margin: 20px 10px;
    float: left;
    background-color: #c0aa71;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    color: #fff;
    font-family: Roboto, Arial, "sans-serif";
    font-weight: 500;
    background: linear-gradient(145deg, #c0aa71, rgb(239, 239, 211));
}

/* .House50{
    margin: 50px;
    float: right;
    margin-left: 0px;

} */